[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=game_art_tools
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Game Art Tools
Comment=Collection of tools to create game art and do graphic design more efficiently in Krita
