[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_batch_exporter
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=GDQuest Batch Exporter
Comment=Smart export tool that uses layer names to scale and (re-)export art assets fast
